@import url(../fonts/fonts.css);

@keyframes roll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  border: none;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
  padding: 30px 0;
}

.header__button {
  width: 30px;
  height: 20px;
  background-image: url(../images/burger-button.svg);
  background-color: #FFF;
  background-size: 30px 20px;
}

.header__text {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin-left: 90px;
}

.header__nav {
  display: flex;
  column-gap: 56px;
}

.header__nav-search {
  width: 32px;
  height: 32px;
  background-image: url(../images/search-button.svg);
  background-color: #FFF;
  background-size: 32px 32px;
}

.header__nav-pyramid {
  width: 32px;
  height: 32px;
  background-image: url(../images/pyramid-button.svg);
  background-color: #FFF;
  background-size: 32px 32px;
}

.home {
  display: flex;
  flex-direction: column;
}

.home__container {
  background: url(../images/crystals-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 747px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__container-title {
  font-family: 'Ogg', sans-serif;
  font-weight: 400;
  font-size: 117px;
  line-height: 120px;
  text-align: center;
  color: #000;
  max-width: 646px;
  padding-top: 100px;
}

.home__container-button {
  width: 148px;
  height: 148px;
  background-color: #000;
  color: #FFF;
  border-radius: 50%;
  align-self: flex-end;
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 54px 45px;
  margin-right: 50px;
}

.home__ticker {
  border-top: 1px solid #EAC1BF;
  border-bottom: 1px solid #EAC1BF;
  max-width: 100%;
  overflow: hidden;
  height: 86px;
}

.home__ticker-block {
  display: flex;
  width: 200%;
  padding-top: 33px;
  animation: roll 16s linear infinite;
}

.home__ticker-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;   
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.home__ticker-text:hover {
  background-image: linear-gradient(90deg, #BEC0E9, #F5AAFC, #FEE5A1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.about {
  background: url(../images/about-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 900px;
  border-bottom: 1px solid #EAC1BF;
}

.about__container {
  margin-left: 130px;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__info {
  display: flex;
  flex-direction: column;
  max-width: 468px;
  row-gap: 82px;
}

.about__info-text {
  font-family: 'Ogg', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 68px;
  color: #000;
}

.about__info-button {
  width: 190px;
  height: 48px;
  background-color: #000;
  color: #FFF;
  border-radius: 32px;
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 36px;
}

.about__image-block {
  display: flex;
  align-items: center;
  width: 770px;
  height: 788px;
}

.about__image {
  width: 100%;
}

.subscribe__container {
  margin: 0 240px 0 146px;
  padding-top: 194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__button-block {
  width: 582px;
  height: 609px;
  overflow: hidden;
  position: relative;
}

.subscribe__button-block-scale {
  width: 100%;
  height: 100%;
  background: url(../images/subscribe-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s ease-in-out;
}

.subscribe__button-block-scale:hover {
  transform: scale(1.06);
}

.subscribe__button {
  width: 282px;
  height: 48px;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, .8);
  padding: 14px 22px;
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  bottom: 32px;
  left: 150px;
}

.subscribe__reviews {
  max-width: 243px;
  display: flex;
  flex-direction: column;
  row-gap: 37px;
}

.subscribe__review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__review-text {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.subscribe__review-author {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.subscribe__review-icon {
  margin-top: 20px;
  width: 27px;
  height: 27px;
}

.assortment__container {
  margin: 0 118px 0 56px;
  padding: 330px 0 160px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assortment__info {
  display: flex;
  flex-direction: column;
  max-width: 430px;
}

.assortment__info-title {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
  margin-left: 44px;
}

.assortment__info-list {
  list-style: none;
}

.assortment__info-list li {
  display: flex;
  margin-bottom: 40px;
  column-gap: 20px;
  transition: .3s ease-in-out;
}

.assortment__info-list li:hover {
  transform: translateX(12px);
}

.assortment__info-list-dot {
  width: 28px;
  height: 28px;
  background-color: #FACCBF;
  filter: blur(6px);
  border-radius: 10px;
  margin-top: 14px;
}

.assortment__info-list-dot_color_second {
  background-color: #E3D8C1;
}

.assortment__info-list-dot_color_third {
  background-color: #878C8F;
}

.assortment__info-list-dot_color_fourth {
  background-color: #C09DBD;
}

.assortment__info-list-dot_color_fifth {
  background-color: #FAEDA3;
}

.assortment__info-list-text {
  font-family: 'Ogg', sans-serif;
  font-weight: 400;
  font-size: 47px;
  line-height: 48px;
  text-align: center;
  color: #000;
}

.assortment__info-button {
  width: 252px;
  height: 48px;
  border-radius: 32px;
  margin-left: 44px;
  background-image: url(../images/gradient-button-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  padding: 14px 32px;
}

.assortment__cards {
  display: flex;
  column-gap: 24px;
  position: relative;
}

.assortment__card {
  width: 348px;
  height: 542px;
  border: 1px solid #EAC1BF;
  border-radius: 16px;
  background-color: #FFF;
  padding: 41px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: .3s ease-in-out;
}

.assortment__card:hover {
  transform: scale(1.04);
}

.assortment__card-title {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}

.assortment__card-price {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #000;
}

.assortment__cards-bg {
  position: absolute;
  width: 658px;
  height: 658px;
  background-image: url(../images/circle-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: -329px;
  left: 31px;
  z-index: 1;
}

.shop {
  background-color: #FBF9F9;
  border-top: 1px solid #EAC1BF;
  border-bottom: 1px solid #EAC1BF;
}

.shop__container {
  margin: 0 84px;
  padding: 98px 0 122px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 86px;
}

.shop__title {
  font-family: 'Ogg', sans-serif;
  font-weight: 400;
  font-size: 47px;
  line-height: 68px;   
  text-align: center;
  color: #000;
}

.shop__list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  list-style: none;
}

.shop__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 26px;
}

.shop__list-item div {
  width: 106px;
  height: 104px;
}

.shop__list-item div:hover {
  background-color: rgba(185, 86, 187, .35);
  /* filter: blur(50px); */
  border-radius: 70px;
  opacity: 1;
  box-shadow: 0px 0px 40px 30px rgba(185, 86, 187, .35);
}

.shop__list-text {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}

.gifts__container {
  margin: 0 44px;
  padding: 130px 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 102px;
}

.gifts__title {
  font-family: 'Ogg', sans-serif;
  font-weight: 400;
  font-size: 116px;
  line-height: 120px;
  text-align: center;
  color: #000;
}

.gifts__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gifts__card {
  display: flex;
  flex-direction: column;
}

.gifts__card-image {
  width: 436px;
  height: 305px;
  overflow: hidden;
}

.gifts__card-image-scale {
  width: 100%;
  height: 100%;
  background: url(../images/box-kits-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s ease-in-out;
}

.gifts__card-image-scale_type_second {
  background: url(../images/pouch-kits-image.jpg);
}

.gifts__card-image-scale_type_third {
  background: url(../images/duo-kits-image.jpg);
}

.gifts__card-image-scale:hover {
  transform: scale(1.06);
}

.gifts__card-heading {
  font-family: 'Ogg', sans-serif;
  font-weight: 400;
  font-size: 46px;
  line-height: 48px;
  color: #000;
  margin: 14px 0 10px; 
}

.gifts__card-price {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

.join {
  border-top: 1px solid #EAC1BF;
  border-bottom: 1px solid #EAC1BF;
  background: linear-gradient(270deg, #FFFFFF 45.52%, rgba(255, 255, 255, 0.58) 100%), #EAC1BF;
}

.join__container {
  margin: 0 44px;
  padding: 62px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join__info {
  display: flex;
  flex-direction: column;
  max-width: 264px;
}

.join__info-title {
  font-family: 'Ogg', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #000;
}

.join__info-text {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin: 24px 0;
  max-width: 250px;
}

.join__info-button {
  width: 168px;
  height: 48px;
  border-radius: 32px;
  padding: 14px 32px;
  background-color: #000;
  color: #FFF;
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.join__cards {
  display: flex;
  max-width: 1002px;
  width: 100%;
  justify-content: space-between;
}

.join__card {
  width: 383px;
  height: 298px;
  overflow: hidden;
}

.join__card_size_s {
  width: 185px;
}

.join__card-scale {
  width: 100%;
  height: 100%;
  background: url(../images/join-first-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s ease-in-out;
}

.join__card-scale_type_second {
  background: url(../images/join-second-image.jpg);
}

.join__card-scale_type_third {
  background: url(../images/join-third-image.jpg);
}

.join__card-scale:hover {
  transform: scale(1.06);
}

.review {
  min-height: 697px;
}

.review__container {
  margin: 0 22px;
  padding-top: 188px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.review__text {
  font-family: 'Ogg', sans-serif;
  font-weight: 400;
  font-size: 46px;
  line-height: 72px;
  text-align: center;
  color: #000;
  max-width: 620px;
  margin: 30px 0;
}

.review__author {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 12px;
}

.review__left-frame {
  background-image: url(../images/left-frame-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 335px;
  height: 665px;
  position: absolute;
  left: 0;
  top: 32px;
}

.review__right-frame {
  background-image: url(../images/right-frame-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 335px;
  height: 665px;
  position: absolute;
  right: 0;
  top: 32px;
}

.gallery__container {
  margin: 0 56px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.gallery__tags {
  font-family: 'Basis Grotesque', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}

.gallery__cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gallery__card {
  width: 210px;
  height: 209px;
  overflow: hidden;
}

.gallery__card-scale {
  width: 100%;
  height: 100%;
  background: url(../images/gallery-first-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .3s ease-in-out;
}

.gallery__card-scale_type_second {
  background: url(../images/gallery-second-image.jpg);
}

.gallery__card-scale_type_third {
  background: url(../images/gallery-third-image.jpg);
}

.gallery__card-scale_type_fourth {
  background: url(../images/gallery-fourth-image.jpg);
}

.gallery__card-scale_type_fifth {
  background: url(../images/gallery-fifth-image.jpg);
}

.gallery__card-scale_type_sixth {
  background: url(../images/gallery-sixth-image.jpg);
}

.gallery__card-scale:hover {
  transform: scale(1.04);
}
